extends ../_template

block variables
  - var title = 'Home'

block content
  +b.container
    //button to open
    +e.top
        a(href='').window-link
            img(src='./assets/img/logo.png' alt='другофильтр').logoFriendsPic
    //main
    +e.bottom
        // header
        +b.header
            +e.title Выберите друзей
            +e.icon
                +icon('close')
        // inputs
        +b.filter-inputs
            +e.left
                input(type='text' placeholder='Начните вводить имя друга').left-input
                +icon('search')
            +e.right
                input(type='text' placeholder='Название').right-input
        // list friends
        +b.friends
            //left zone
            +e.left
                +e.title Ваши друзья
                ul.friends-list
                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')


                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')
                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')


                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')

                    li.friends-list__items
                        .left-item
                            img(src='./assets/img/q.jpeg').friend-foto
                            .friendName Rus
                        .right-item
                            +icon('plus')





            //right zone
            +e.right
                +e.title Друзья в списке
                    ul.friends-list
                        li.friends-list__items
                            .left-item
                                img(src='./assets/img/q.jpeg').friend-foto
                                .friendName Rus
                            .right-item
                                +icon('close')
        +b.footer
            +e.BUTTON().button Сохранить



