extends ../_template

block variables
  - var title = 'Home'

block content
  +b.container
    //button to open
    +e.top
        a(href='').window-link
            img(src='./assets/img/logo.png' alt='другофильтр').logoFriendsPic
    //main
    +e.bottom
        // header
        +b.header
            +e.title Выберите друзей
            +e.icon
                +icon('close')
        // inputs
        +b.filter-inputs
            +e.left
                input(type='text' placeholder='Начните вводить имя друга').left-input
                +icon('search')
            +e.right
                input(type='text' placeholder='Название').right-input

        // list friends
        +b.friends
            //left zone
            +e.left
                +e.title Ваши друзья
                ul.friends-list#friendsListLeft
            //right zone
            +e.right
                +e.title Друзья в списке
                ul.friends-list#friendsListRight
        +b.footer
            +e.BUTTON().button Сохранить

    //- script(id="template-friends__left" type="text/x-handlebars-template")
    //-     | {{#each items}}
    //-     li.friends-list__items(draggable="true" data-id="{{id}}")
    //-         .left-item
    //-             img.friend-foto(draggable="false" src="{{photo_100}}")
    //-             .friendName
    //-             | {{first_name}} {{last_name}}
    //-         .right-item
    //-             +icon('plus')
    //-     | {{/each}}

    //- script(id="template-friends__right" type="text/x-handlebars-template")
    //-   | {{#each items}}
    //-   li.friends-list__items(draggable="true" data-id="{{id}}")
    //-       .left-item
    //-           img.friend-foto(draggable="false" src="{{photo_100}}")
    //-           .friendName
    //-           | {{first_name}} {{last_name}}
    //-       .right-item
    //-           +icon('close')
    //-   | {{/each}}
