@font-face {
  font-family: "fira";
  src: url("../../fonts/fira/FiraSans-Medium.eot");
  src: url("../../fonts/fira/FiraSans-Medium.svg");
  src: url("../../fonts/fira/FiraSans-Medium.ttf");
  src: url("../../fonts/fira/FiraSans-Medium.woff");
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.6em;
}
